
.cache/

.config/configstore/

.config/fontconfig/

.npm-global/

.npm/

.config/spotify/

.config/pulse/

.config/GitKraken/

.config/dconf/

.config/coc/

.config/chromium/

.config/wall.png

.config/ranger/colorschemes/

.config/neofetch/

.gitkraken/

.gnupg/

.mozilla/

.local/

.pki/

.vim/

.surf/

.zplugin/

.fehbg

.bash_history

.bash_logout

.tig_history

.viminfo

.viminfo.tmp

.Xauthority

.task/

.fehbg

.zcompdump

Images/wall/

Coding/

Downloads/

