
.cache/

.config/spotify/

.config/pulse/

.config/GitKraken/

.config/dconf/

.config/coc/

.config/chromium/

.config/wall.png

.config/ranger/colorschemes/

.gitkraken/

.gnupg/

.mozilla/

.local/

.pki/

.vim/

.surf/

.zplugin/

.fehbg

.bash_history

.bash_logout

.tig_history

.viminfo

.Xauthority

.task/

.fehbg

.config/neofetch/

Images/wall/
