Audio/

.cache/

.config/configstore/

.config/cmus/

.config/menus/

.config.mimeapps.list

.config/mps-youtube/

.config/vlc/

.config/fontconfig/

.npm-global/

.npm/

.tmux/

.config/spotify/

.config/joplin/

.config/pulse/

.config/GitKraken/

.config/dconf/

.config/htop/

.config/coc/

.config/chromium/

.config/wall.png

.config/ranger/colorschemes/

.config/Thunar/

.config/neofetch/

.gitkraken/

.gnupg/

.kodi/

.mozilla/

.local/

.pki/

.vim/

.surf/

.timewarrior/

.zplugin/

.fehbg

.bash_history

.bash_logout

.tig_history

.viminfo

.viminfo.tmp

.Xauthority

.task/

.fehbg

.zhistory

.zcompdump

Images/wall/

Coding/

Downloads/

Session.vim
